<!DOCTYPE html>
<html lang="en" style="height:100%;">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  </head>
  <body ng-app="recipe" style="background: url(http://3.bp.blogspot.com/-51RAbRjh6cs/UyGzHEznx5I/AAAAAAAACfQ/tgXAcg_Xwak/s1600/sendak+milk+bottle+IntheNightKitchen-copy1.jpg);background-size: cover;height:100%;">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Recipe Project - Team 10</a>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>