{% extends "base.html"%}
{% block title %}
10: Recipe Scraper
{% endblock %}

{% block content %}
<div ng-controller="homeController">
<h1 style="text-align: center">Team 10 Recipe Scraper</h1>
	<hr>
    Enter AllRecipes URL<br/>
    <input type="text" ng-model="url" placeholder="http://allrecipes.com/chicken" style="width:300px;padding:5px;outline:none;" ng-init="url='http://allrecipes.com/Recipe/Easy-Garlic-Broiled-Chicken/'"><br/>
    <button type="submit", style="width:300px;" ng-click="getRecipe()">Go</button>
    
    <div class="form-group">
		<label for="select" class="col-lg-2 control-label">Transformation</label>
		<div class="col-lg-10">
			<select class="form-control" id="category">
				<option ng-show="!vegetarian">Vegetarian</option>
		    	<option ng-show="vegetarian">Not Vegetarian</option>
		    	<option ng-show="!vegan">Vegan</option>
		    	<option ng-show="vegan">Not Vegan</option>
		    	<option ng-show="!low-carb">Low-carb</option>
		    	<option ng-show="low-carb">Not Low-carb</option>
		    	<option ng-show="!low-sodium">Low-sodium</option>
		    	<option ng-show="low-sodium">Not Low-sodium</option>
				<option disabled value=""> -- select an option -- </option>
			</select>
		</div>
	</div>

    
    <div ng-show="parsed" style="margin-top:20px;background:url({{'{{imageUrl}}'}}); height:450px;overflow-y:scroll;background-size:cover; overflow-x: hidden;margin-bottom:50px;">
        <h2 style="margin-top: 0;background: rgba(0,0,0,0.5);color: white;padding: 20px;margin-bottom: 0;" ng-bind="title"></h2>
        <div style="padding:20px;padding-bottom:60px;background:rgba(255,255,255,0.8);">
            <h3 style="margin-top:0;">Ingredients</h3>
            <table class="table table-striped">
            	<thead>
    				<tr>
    	        		<td><b>Name</b></td>
    	        		<td><b>Quantity</b></td>
    	        		<td><b>Measurement</b></td>
    	        		<td><b>Descriptor</b></td>
    	        		<td><b>Preparation</b></td>
    	        		<td><b>Preparation-Descripton</b></td>
    	        	</tr>
            	</thead>
            	<tbody>
    	        	<tr ng-repeat="ing in ingredients">
    	        		<td ng-bind="ing.name"></td>
    	        		<td ng-bind="ing.quantity"></td>
    	        		<td ng-bind="ing.measurement"></td>
    	        		<td ng-bind="ing.descriptor"></td>
    	        		<td ng-bind="ing.preparation"></td>
    	        		<td>none</td>
    	        	</tr>
            	</tbody>
            </table>
        
            
            <div class="row">
                <div class="col-xs-4">
                    <h3>Primary Method</h3>
                    <div ng-bind="primary_method.capitalizeFirstLetter()"></div>
                </div>
                <div class="col-xs-4">
                    <h3>Tools</h3>
                    <div ng-repeat="tool in tools">
                        <div ng-bind="tool.capitalizeFirstLetter()"></div>
                    </div>   
                </div>
                <div class="col-xs-4">
                    <h3>Other Methods</h3>
                    <div ng-repeat="method in methods">
                        <div ng-bind="method.capitalizeFirstLetter()"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
