{% extends "base.html"%}
{% block title %}
EECS337: Recipes
{% endblock %}

{% block content %}
<div ng-controller="homeController">
    <div class="row">
        <div class="col-xs-6">
            <label>Enter AllRecipes URL</label>
            <div class="col-xs-11" style="padding:0">
                <div class="input-group">
                    <input input type="text" class="form-control" ng-model="url" placeholder="http://allrecipes.com/chicken" ng-init="url='http://allrecipes.com/Recipe/Easy-Garlic-Broiled-Chicken/'" style="border-top:1px">
                    <span class="input-group-addon" ng-click="getRecipe()" type="submit" style="cursor: pointer">Go</span>
                </div>
            </div>
        </div>    
        <div class="col-xs-6">
            <div ng-show="parsed">
                <label>Transform to:</label>
    			<select class="form-control" id="category" ng-model="transformation" ng-change="transform()" style="border-top:1px">
    				<option disabled value=""> -- select an option -- </option>
    				<option ng-show="!vegetarian" value="to_vegetarian">Vegetarian</option>
    		    	<option ng-show="vegetarian" value="from_vegetarian">Non-Vegetarian</option>
    		    	<option ng-show="!vegan" value="to_vegan">Vegan</option>
    		    	<option ng-show="vegan" value="from_vegetarian">Non-Vegan</option>
    		    	<option ng-show="!low-carb" value="to_low-carb">Low-carb</option>
    		    	<option ng-show="low-carb" value="from_low-carb">Non Low-carb</option>
    		    	<option ng-show="!low-sodium" value="to_low-sodium">Low-sodium</option>
    		    	<option ng-show="low-sodium" value="from_low-sodium">Non Low-sodium</option>
    		    	<option ng-show="!chinese" value="to_chinese">Chinese</option>
    		    	<option ng-show="chinese" value="from_chinese">Non-Chinese</option>
    		    	<option ng-show="!italian" value="to_italian">Italian</option>
    		    	<option ng-show="italian" value="from_italian">Non-Italian</option>
    			</select>
            </div>
        </div>        
    </div>
    <img src="http://www.lettersmarket.com/uploads/lettersmarket/blog/loaders/common_metal/ajax_loader_metal_512.gif" ng-show="loading && !parsed" style="height: 50px;margin: 0 auto;display: block;"/>
    <div ng-show="parsed" style="margin-top:20px;background:url({{'{{imageUrl}}'}}); height:500px;overflow-y:scroll;background-size:cover; overflow-x: hidden;margin-bottom:50px;">
        <div class="row" style="background: rgba(0,0,0,0.5);">
            <div class="col-xs-10">
                <h2 style="margin: 0;color: white;padding: 20px;">
                    {{'{{title.toTitleCase()}}'}} <span style="font-size:16px;">({{'{{getAttributes()}}'}})</span>
                </h2>
            </div>
            <div class="col-xs-2">
                <img src="http://www.lettersmarket.com/uploads/lettersmarket/blog/loaders/common_metal/ajax_loader_metal_512.gif" ng-show="loading" style="height: 50px;top:12px;margin: 0 auto;display: block;z-index: 500; position:relative;"/>
            </div>
        </div>
        <div style="padding:20px;padding-bottom:60px;background:rgba(255,255,255,0.8);">
            <h3 style="margin-top:0;">Ingredients</h3>
            <table class="table table-striped">
            	<thead>
    				<tr>
    	        		<td><b>Name</b></td>
    	        		<td><b>Quantity</b></td>
    	        		<td><b>Measurement</b></td>
    	        		<td><b>Descriptor</b></td>
    	        		<td><b>Preparation</b></td>
    	        		<td><b>Preparation-Descripton</b></td>
    	        	</tr>
            	</thead>
            	<tbody>
    	        	<tr ng-repeat="ing in ingredients">
    	        		<td ng-bind="ing.name"></td>
    	        		<td ng-bind="filter(ing.quantity)"></td>
    	        		<td ng-bind="ing.measurement"></td>
    	        		<td ng-bind="ing.descriptor"></td>
    	        		<td ng-bind="ing.preparation"></td>
    	        		<td>none</td>
    	        	</tr>
            	</tbody>
            </table>
        
            
            <div class="row">
                <div class="col-xs-4">
                    <h3>Primary Method</h3>
                    <div ng-bind="primary_method.capitalizeFirstLetter()"></div>
                </div>
                <div class="col-xs-4">
                    <h3>Tools</h3>
                    <div ng-repeat="tool in tools">
                        <div ng-bind="tool.capitalizeFirstLetter()"></div>
                    </div>   
                </div>
                <div class="col-xs-4">
                    <h3>Other Methods</h3>
                    <div ng-repeat="method in methods">
                        <div ng-bind="method.capitalizeFirstLetter()"></div>
                    </div>
                </div>
            </div>
            <p><b>I'm not milk and the milk's not me; I'm MICKEY!</b></p>
        </div>
    </div>


</div>

<script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
